@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mouse+Memoirs&family=Noto+Serif+HK:wght@600&family=Open+Sans&family=Playfair+Display:ital,wght@0,600;0,800;1,800&family=Tiro+Gurmukhi&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: url("../img/body-background.png");
    background-size: cover;
}

#main-f {
    margin-top: 10vw;
}


#main-e {
    background-color: rgb(21, 21, 21);
    margin-left: 0 !important;
    margin-top: 3vw;
}

#main-e-scribble {
    position: absolute;
    left: 0;
    width: 25vw;
}

#main-e-choose {
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
}

#main-d {
    margin-top: 20vw;
}

#main-d-arrow {
    width: 8vw;
    margin-top: 3vw;
}

#main-d-paragraph {
    font-size: calc(1.5vw + 1px);
}

#main-c {
    margin-top: 10vw;
}

#main-c-scribble {
    position: absolute;
    opacity: 1;
    left: 0;
    width: 30vw;
    z-index: 0;
}

#main-a-trvlogs-button:hover {
    background-color: white !important;
    color: black !important;
}

#main-c-lorem {
    font-size: calc(1vh + 0.5vw);
}

#main-c-header-p {
    font-size: calc(3vw + 1vh);
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

#main-c-plane {
    width: calc(1em + 2vw);
}

#main-b-left-design {
    position: absolute;
    opacity: 1;
    left: 0;
    width: 2vw;
    z-index: 0;
}

#main-b-right-design {
    position: absolute;
    opacity: 1;
    right: 0;
    width: 4vw;
    z-index: 0;
}

#main-a-left-side-design {
    position: absolute;
    opacity: 1;
    left: 0;
    width: 30vw;
    z-index: 0;
}

#main-a-right-side-design {
    position: absolute;
    opacity: 1;
    right: 0;
    width: 30vw;
    z-index: 0;
}

#header {
    padding-bottom: 5vw;
}


#main-a-lorem-p {
    font-size: calc(0.8vh + 1vw);
    font-family: 'Open Sans', serif;
    line-height: calc(1vh + 2vw);
    padding-top: 2vw;
}


#main-a {
    background-color: rgb(21, 21, 21);
    padding-bottom: 4vw;
}

#main-a-memory-p {
    padding-top: 3vw;
    font-size: 4vw;
    font-family: 'Playfair Display', serif;
    line-height: 3.5vw;

}

#header-side-design {
    position: absolute;
    opacity: 1;
    right: 0;
    height: calc(10vh + 40vw);
    width: 10vw;
    z-index: 0;
}


#header-main-travel-p {
    font-family: 'Tiro Gurmukhi', serif;
    font-size: 4vw;
    line-height: 4vw;
    letter-spacing: 0.5vw;
}

#header-contactUs-btn {
    font-weight: 800;
    border: 2px solid black;
}


#header-main-lorem-p {
    font-size: 2vw;
    font-family: 'Lato', sans-serif;
}

#header-navbar nav div ul li a {
    font-family: 'Lato', sans-serif;
}

#header-navbar nav div ul li a:hover {
    color: black !important;
    font-weight: bold;
    transition: all 0.1s linear;
    text-shadow: 0 0 0px #000000;
}

.main-b-header-paragraphs {
    font-size: calc(1vh + 1vw) !important;
    font-family: 'Noto Serif HK', serif;
}

.main-b-footer-paragraphs {
    font-size: calc(0.5vh + 0.5vw) !important;
    font-family: 'Tiro Gurmukhi', serif;
}

.main-d-paragraphs {
    font-size: 1vw;
}

.main-e-paragraphs-header {
    margin-top: 3vw;
    font-size: 1.5vw;
    font-family: 'Tiro Gurmukhi', serif;
}

.main-e-paragraphs-footer {
    font-size: 1vw;
    font-family: 'Open Sans', serif;
}

/**/
#main-f-lorem {
    font-size: calc(1vh + 3vw);
    font-family: 'Tiro Gurmukhi', serif;
    width: 60vw;

}

#main-f-col-1-last {
    border-bottom: calc(0.1vh + 0.1vw) solid black;
}

#main-f div div {
    width: 60vw;
    padding: calc(0.5vh + 1.5vw) 0;
    border-top: calc(0.1vh + 0.1vw) solid black;
}

#main-f div div p {
    font-size: calc(0.5vh + 0.5vw);

}

#main-f div div p img {
    width: calc(0.5vh + 0.5vw);
    margin-right: 0.5vw;
}

/**/

@media screen and (max-width: 576px) {
    #header-reserve-button {
        font-size: 3vw;
        display: inline-block;
    }

    #main-a-trvlogs-button {
        font-size: 3vw;
        display: inline-block;
    }
}